<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To-Do List</title>
</head>
<body>
<h1>To-Do List</h1>

<a href="/tasks/new">+ Add Task</a>

<table border="1" cellpadding="8" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Action</th>
    </tr>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.completed}"></td>
        <td>
            <a th:href="@{'/tasks/edit/' + ${task.id}}">Edit</a> |
            <a th:href="@{'/tasks/delete/' + ${task.id}}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>
